/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.top-init{
  margin-top: 3.5em;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.inside-block{
  padding-top: 30px;
  padding-bottom: 20px;
}
.bg-black{
  background-color: #000;
}
.bg-grey{
  background-color: grey;
}
.text-service{
  font-size: 15px;
  color: #fff;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
.text-service:hover{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn-web-action{
    display: none;
  }
  .btn-mobile-action{
    display: block !important;
  }
}

@media only screen and (max-width: 700px) {
  .col-md{
    width: 33% !important;
  }
  .text-service{
    font-size: 11px;
  }
  .text-service:hover{
    font-size: 11px;
  }
  .btn-right-parallax{
    border-radius: 0.3rem !important;
  }
  .btn-left-parallax{
    border-radius: 0.3rem !important;
  }
  .hide-mobile{
    display: none !important;
  }
  .hide-web{
    display: block !important;
  }
  .text-title{
    font-size: 2.5em !important;
  }
  .text-lead{
    font-size: 15px !important;
  }
  .grid-lead{
    padding-bottom: 4em;
  }
  .marc{
    width: 50% !important;
  }
  .hide-tab-mob{
    display: none;
  }
  .show-tab-mob{
    display: block !important;
  }
  .maytag{
    margin-bottom: 15px;
  }
  .lg{
    margin-bottom: 15px;
  }
  .torrey{
    margin-bottom: 15px;
  }
  .daewoo{
    margin-bottom: 15px;
  }
  .teka{
    margin-bottom: 15px;
  }
  .electrolux{
    margin-bottom: 15px;
  }
  .pay{
    width: 25%;
  }
  .clip{
    width: 40px;
  }
  .bbva{
    width: 65px;
  }
  .visa{
    width: 65px;
  }
  .master{
    width: 45px;
  }

  .padd{
    padding-top: 5% !important;
    padding-bottom: 5% !important;
  }

  .cta-txt {
    font-size: 2rem !important;
  }

  .margin{
    margin-bottom: 10px;
  }

  .btn-lg{
    font-size: 15px !important;
  }

  .bg-pharallax {
    padding-top: 135px !important;
  }

  .toast {
  left: 3%;
}

}

@media only screen and (max-width: 770px) {
  .hide-tab-mob{
    display: none;
  }
  .show-tab-mob{
    display: block !important;
  }
  .col-md-2{
    width:30%;
  }
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-md{
    width: 30% !important;
  }
  .grid-lead{
    padding-bottom: 4em;
  }


  .col-md-2{
    width:30%;
  }
  .maytag{
    margin-bottom: 20px;
  }
  .daewoo{
    margin-bottom: 20px;
  }
  .pay{
    width: 25% !important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

.adjust-space{
  padding-left:6%;
  padding-right: 6%;
}

.bg-pharallax{
  height: 400px;
  font-size: 2.5rem;
  padding-top: 120px;
  background-image: url(../img/samsunglav.webp);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
}
.text-parallax{
  margin-bottom: 0px;
}

.btn-format{
  display: inline-block;
}
.btn-left-parallax{
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px;
}
.btn-right-parallax{
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 25px;
}

.grid-lead{
  padding-top: 4em;
  padding-left: 3em;
  padding-right: 3em;
}
.hide-web{
  display: none !important;
}

.img-rep{
  width: 70%;
}
.grid-lead-img{
  padding-top: 3em;
}
.estufa{
  width: 40%;
}
.refri{
  width: 55%;
}
.lavadora{
  width: 40%;
}
.text-lead{
  font-size: 20px;
  margin-bottom: 30px;
}
.text-title{
  font-size: 3em;
  margin-bottom: 20px;
}
.show-tab-mob{
  display: none;
}

.logo-config{
  width:150px;
}
.comodo{
  width: 150px;
  margin-bottom: 12px;
}
.frigidaire{
  width: 120px;
}
.maytag{
  width: 75px;
}
.lg{
  width: 60px;
}
.subzero{
  width: 105px;
}
.torrey{
  width: 100px;
}
.mabe{
  width: 75px;
}
.whirlpool{
  width: 75px;
}
.wolf{
  width: 80px;
}
.teka{
  width: 55px;
  margin-top: -10px;
}
.nieto{
  width: 80px;
}
.daewoo{
  width: 105px;
}
.electrolux{
  width: 105px;
}
.text-service{
  text-decoration: none;
  color: white;
}
.btn-mobile-action{
  display: none;
}

/** **/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.cta-txt {
  font-size: 3rem;
}

.padd{
  padding-top: 3%;
  padding-bottom: 3%;
}

.margin{
  margin-top: 10px;
}

.toast {
  position: fixed;
  z-index: 999;
  bottom: 5%;
  right: 3%;
  max-width: 550px;
}
